{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": "eslint:recommended",
    "globals": {
        "a": "readonly",
        "abbr": "readonly",
        "acronym": "readonly",
        "address": "readonly",
        "applet": "readonly",
        "area": "readonly",
        "article": "readonly",
        "aside": "readonly",
        "audio": "readonly",
        "b": "readonly",
        "base": "readonly",
        "basefont": "readonly",
        "bdi": "readonly",
        "bdo": "readonly",
        "big": "readonly",
        "blockquote": "readonly",
        "body": "readonly",
        "br": "readonly",
        "button": "readonly",
        "canvas": "readonly",
        "caption": "readonly",
        "center": "readonly",
        "cite": "readonly",
        "code": "readonly",
        "col": "readonly",
        "colgroup": "readonly",
        "data": "readonly",
        "datalist": "readonly",
        "dd": "readonly",
        "del": "readonly",
        "details": "readonly",
        "dfn": "readonly",
        "dialog": "readonly",
        "dir": "readonly",
        "div": "readonly",
        "dl": "readonly",
        "dt": "readonly",
        "em": "readonly",
        "embed": "readonly",
        "fieldset": "readonly",
        "figcaption": "readonly",
        "figure": "readonly",
        "font": "readonly",
        "footer": "readonly",
        "form": "readonly",
        "frame": "readonly",
        "frameset": "readonly",
        "h1": "readonly",
        "h2": "readonly",
        "h3": "readonly",
        "h4": "readonly",
        "h5": "readonly",
        "h6": "readonly",
        "head": "readonly",
        "header": "readonly",
        "hgroup": "readonly",
        "hr": "readonly",
        "html": "readonly",
        "i": "readonly",
        "iframe": "readonly",
        "img": "readonly",
        "input": "readonly",
        "ins": "readonly",
        "kbd": "readonly",
        "label": "readonly",
        "legend": "readonly",
        "li": "readonly",
        "link": "readonly",
        "main": "readonly",
        "map": "readonly",
        "mark": "readonly",
        "menu": "readonly",
        "meta": "readonly",
        "meter": "readonly",
        "nav": "readonly",
        "noframes": "readonly",
        "noscript": "readonly",
        "object": "readonly",
        "ol": "readonly",
        "optgroup": "readonly",
        "option": "readonly",
        "output": "readonly",
        "p": "readonly",
        "param": "readonly",
        "picture": "readonly",
        "pre": "readonly",
        "progress": "readonly",
        "q": "readonly",
        "rp": "readonly",
        "rt": "readonly",
        "ruby": "readonly",
        "s": "readonly",
        "samp": "readonly",
        "script": "readonly",
        "search": "readonly",
        "section": "readonly",
        "select": "readonly",
        "small": "readonly",
        "source": "readonly",
        "span": "readonly",
        "strike": "readonly",
        "strong": "readonly",
        "style": "readonly",
        "sub": "readonly",
        "summary": "readonly",
        "sup": "readonly",
        "svg": "readonly",
        "table": "readonly",
        "tbody": "readonly",
        "td": "readonly",
        "template": "readonly",
        "textarea": "readonly",
        "tfoot": "readonly",
        "th": "readonly",
        "thead": "readonly",
        "time": "readonly",
        "title": "readonly",
        "tr": "readonly",
        "track": "readonly",
        "tt": "readonly",
        "u": "readonly",
        "ul": "readonly",
        "var": "readonly",
        "video": "readonly",
        "wbr": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "rules": {}
}